:root {
    --primary-color: rgb(255, 244, 244);
    --secondary-color: rgb(247, 230, 196);
    --third-color: rgb(241, 195, 118);
    --fourth-color: rgb(96, 108, 93);
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--primary-color);
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
}

.app-container {
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin: 60px auto;
    max-width: 600px;
    padding: 20px;
}

.app-container h1 {
    color: var(--third-color);
    font-size: 1.8rem;
}

form {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 80%;
}

form input {
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    font-family: 'Comfortaa', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0px 10px;
    padding: 15px;
}

.input-topic {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    width: 90%;
}

::placeholder {
    color: var(--fourth-color);
}

.input-topic:focus {
    border: 1px solid var(--third-color);
    outline: none;
}

.submit-button {
    background-color: var(--fourth-color);
    border: 1px solid var(--fourth-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.submit-button:hover {
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    color: var(--primary-color);
}

.tips-for-user {
    color: var(--fourth-color);
    font-size: 0.8rem;
    margin: 10px auto;
    max-width: 80%;

}

.hint {
    display: block;
    margin-left: 10px;
    text-align: left;
}

.poem {
    background-color: var(--primary-color);
    border-left: 3px solid var(--third-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    font-family: 'Caveat', cursive;
    margin: 30px auto;
    max-width: 70%;
    padding: 20px;
}

.poem h3 {
    color: var(--third-color);
    font-size: 1.1rem;
    margin: 10px;
    margin-top: 0;
}

.poem p {
    color: var(--fourth-color);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 10px;
}

.hidden {
    display: none;
}

.generating {
    animation: blink-animation 0.7s steps(5, start) infinite;
    color: var(--fourth-color);
    font-family: 'Comfortaa', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

footer {
    color: var(--fourth-color);
    font-size: 0.7rem;
    margin-top: 15px;
}

footer a,
footer a:visited {
    color: var(--third-color);
    font-weight: 800;
}

footer a:hover {
    color: var(--fourth-color);
}

@media (max-width: 550px) {
    .app-container h1 {
        font-size: 1.3rem;
    }

    form {
        max-width: 900%;
    }
}