:root {
    --primary-color: rgb(249, 245, 240);
    --secondary-color: rgb(242, 234, 211);
    --third-color: rgb(244, 153, 26);
    --fourth-color: rgb(50, 19, 19);
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--primary-color);
    font-family: 'Comfortaa', sans-serif;
    text-align: center;

}

.app-container {
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin: 60px auto;
    max-width: 600px;
    padding: 20px;
}

.app-container h1 {
    color: var(--third-color);
    font-size: 1.8rem;
}

form {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 80%;
}

form input {
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    font-size: 1em;
    font-weight: 500;
    margin: 0px 10px;
    padding: 15px;
}

.input-topic {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    width: 90%;
}

::placeholder {
    color: var(--fourth-color);
}

.input-topic:focus {
    border: 1px solid var(--third-color);
    outline: none;
}

.submit-button {
    background-color: var(--fourth-color);
    border: 1px solid var(--fourth-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.submit-button:hover {
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    color: var(--primary-color);
}

.poem-container {
    background-color: var(--fourth-color);
    border-left: 3px solid var(--third-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    font-family: 'Caveat', cursive;
    margin: 30px auto;
    max-width: 75%;
    padding: 20px;
}

.poem-container h3 {
    color: var(--third-color);
    font-size: 1.1rem;
    margin: 10px;
}

.poem-container p {
    color: var(--secondary-color);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 10px;
}

footer {
    color: var(--fourth-color);
    font-size: 0.7rem;
    margin-top: 15px;
}

footer a,
footer a:visited {
    color: var(--third-color);
}

footer a:hover {
    color: var(--fourth-color);
}