:root {
    /* --primary-color: rgb(238, 238, 238); */
    --primary-color: rgb(255, 243, 207);
    --secondary-color: rgb(232, 200, 114);
    --third-color: rgb(201, 215, 221);
    --fourth-color: rgb(99, 122, 159);
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--primary-color);
    /* font-family: 'Caveat', cursive; */
    font-family: 'Comfortaa', sans-serif;
    text-align: center;

}

.app-container {
    background-color: var(--third-color);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    margin: 60px auto;
    max-width: 60%;
    padding: 20px;
}

.app-container h1 {
    color: var(--fourth-color);
    font-size: 3rem;
}

form {
    display: flex;
    justify-content: center;
    margin: auto;
}

form input {
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    font-size: 1.2em;
    font-weight: 500;
    margin: 0px 10px;
    padding: 15px 20px;
}

.input-topic {
    border: 1px solid var(--third-color);
    color: var(--fourth-color);
    width: 40%;
}

.input-topic:focus {
    border: 1px solid var(--fourth-color);
    outline: none;
}

.submit-button {
    background-color: var(--fourth-color);
    border: 1px solid var(--fourth-color);
    color: var(--third-color);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.submit-button:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--secnndary-color);
    color: var(--primary-color);
}